<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>

<body>
    <section class="container">
        <a class="btn btn-create-article" href="/articles/new">Create new article</a>
        <article class="content btn-create-article">
            <section class="articles-container">
                <% articles.forEach(article => { %>
                    <div class="article">
                        <h3><%= article.title %></h3>
                        <hr>
                        <img class="img" src="/<%= article.imagePath %>" alt="Image for <%= article.title %>">
                        <a href="/<%= article.slug %>"><button class="btn">Read more</button></a>
                    </div>
                <% }) %>
            </section>

            <div>
                <a href="/articles/page/2" style="float: right;">
                    <button class="btn">Next > </button>
                </a>
            </div>
        </article>
    </section>
</body>

<%- include('partials/footer.ejs') %>
