<%- include('partials/header.ejs') %>
<%- include('partials/homenavbar.ejs') %>

<body>
    <section class="container">
        <article class="content">
            <a class="btn" href="/articles/new">Create new article</a>

            <section class="articles-container">
                <% articles.forEach(article => { %>
                    <div class="article">
                        <h3><%= article.title %></h3>
                        <hr>
                        <img class="img" src="/<%= article.imagePath %>" alt="Image for <%= article.title %>">
                        <a href="/<%= article.slug %>"><button class="btn">Read article</button></a>
                    </div>
                <% }) %>
            </section>
        </article>
    </section>
</body>

<%- include('partials/footer.ejs') %>
