<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>

<body>
    <section class="container">
        <a href="/"> < Return</a>
        <article class="content">
            <h2><%= article.title %></h2>
            <hr>
            <img class="img" src="/<%= article.imagePath %>" alt="Image for <%= article.title %>">
            <%- article.body %>
        </article>
    </section>
</body>

<%- include ('../partials/footer.ejs') %>