<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>

<body>
    <section class="container">
        <a href="/" style="margin-bottom: 20px;"><i class="fa-solid fa-arrow-left"></i>Return</a>
        <article class="content article-page-content">
            <div>
                <h2><%= article.title %></h2>
                <hr>
                <img src="/<%= article.imagePath %>" alt="Image for <%= article.title %>">
            </div>
            <p><%- article.body %></p>
        </article>
    </section>
</body>

<%- include ('../partials/footer.ejs') %>