<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>

<body>
    <section class="container">
        <article class="content">
            <h2>Article Registration</h2> <hr>
        
            <form method="POST" action="/articles/save" enctype="multipart/form-data" class="form">
                <input type="text" name="title" placeholder="Set the category title" class="max-width title"> <br>
                <label for="imageUpload">Upload an image</label> <br>
                <input type="file" id="imageUpload" name="imagePath" accept="image/png, image/jpeg" class="imageUpload">
                <textarea name="body" id="article"></textarea>
                <label for="">Categories</label> <br>
                <select class="max-width" name="category">
                <% categories.forEach((category) => { %>
                    <option value="<%= category.id %>"><%= category.title %></option>
                <% }) %>
                </select> <br>
                <a href="/categories/new">Create a category</a>
                <button class="btn article-create" type="submit">Register</button>
            </form>
        </article>
    </section>
</body>

<%- include ('../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons' 
        ]
    });
</script>